<!DOCTYPE html>
<html>
    <head>
        <!-- REQUIRED META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- BOOTSTRAP CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <title>{{ title }}</title>
    </head>
     <body>
    <h1>{{ head }}</h1>
    
    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3> 
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col">
                <h3>Column 3</h3> 
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col">
                <h3>Column 4</h3> 
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
        </div>
    </div>
    <!-- OPTIONAL JAVASCRIPT -->
    <!-- JQUERY FIRST, THEN POPPER.JS, THEN BOOTSTRAP JS -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>